.user-small-pic{
	width:40px;
	height:30px;
	padding:3px;
}
.guest{
	padding:0px 0px 5px;
	border-bottom:1px solid lightgrey;
}
.guest-list{
	padding:10px 0px 30px 30px;
	max-height:500px;
	background:white;
	overflow-y:auto;
	overflow-x:hidden;
}
#control-bar{
	
}
.description{
	font-size:14px;
	text-shadow:1px 1px 1px #ccc;
}
#contains-details{
	text-shadow:1px 1px 0px black;
	background:white;
	padding:18px;
	font-size:12px;
	color:#666;
}